apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: applications
spec:
  project: default
  source:
    path: applications
    repoURL: 'https://github.com/ArctiqDynatraceDemo/gitops'
    targetRevision: HEAD
  destination:
    namespace: argocd
    server: 'https://kubernetes.default.svc'